/*
Author:DAN
Version:1.0.0
PluginName:Room3D
*/

/* 场景样式 */
.Room3D_Scene * {margin:0; padding:0; box-sizing: border-box; user-select:none; outline:none; -webkit-tap-highlight-color:transparent}
.Room3D_Scene {width:100%; height:100%; overflow:hidden; position:relative; background:linear-gradient(to bottom, #a0a0a0, #e7e7e7); }
.Room3D_SceneWraper {position:absolute; left:50%; top:50%; transform:scale(1); -moz-perspective: 3000px; -webkit-perspective:3000px; perspective:3000px;}
.Room3D_SceneGround {width:100%; height:100%; background:#c9c9c9; position:relative; transform-style: preserve-3d; transform-origin: center center 0px; }
/* 网格 */
.Room3D_SceneGrid {width: 3000px; height: 3000px; position: absolute; left: 50%; top: 50%; margin-left: -1500px; margin-top: -1500px; transform:translateZ(-1px)}
.Room3D_SceneGrid .sceneGrid {border:solid 1px rgba(150, 150, 150, 0.4); position:absolute; box-shadow:0 0 1px rgba(150, 150, 150, 0.4)}
.Room3D_SceneGrid .SceneGrid_H {width:100%; height:1px; }
.Room3D_SceneGrid .SceneGrid_V {width:1px; height:100%; }
/* 房间样式 */
.Room3D_room {position:absolute; transform-style:preserve-3d}
/* 地板 */
.Room3D_floor {width:100%; height:100%; position:absolute; left:0; top:0}
/* 墙壁 */
.Room3D_wall {position:absolute; height:0; transform-style:preserve-3d}/*高度设置为0，解决墙壁遮挡房间内元素，鼠标无法交互的问题*/
.Room3D_wall>div {width:100%; height:100%; position:absolute; left:0; bottom:0;transform-style: preserve-3d;}
.Room3D_wall>div>span {display:block; width:100%; height:100%; /*mask-type:alpha; -webkit-mask-type:alpha; -webkit-mask-image:url(../mask.svg)*/}
.Room3D_wall_left {left:0; bottom:0; transform-origin:left bottom 0; transform:rotateX(-90deg) rotateY(90deg)}
.Room3D_wall_right {right:0; bottom:0; transform-origin:right bottom 0; transform:rotateX(-90deg) rotateY(-90deg)}
.Room3D_wall_fore {width:100%; left:0; bottom:0; transform-origin:center bottom 0; transform:rotateX(-90deg) rotateY(180deg)}
.Room3D_wall_back {width:100%; left:0; top:0; transform-origin:center bottom 0; transform:rotateX(-90deg); }
/* 墙角线 */
.Box3D_line {position:absolute; display:block; border-style:dashed; border-width:0; transform-style:preserve-3d}
.Box3D_line>span {display:block; width:100%; height:100%; position:absolute; border-style:dashed; border-width:0;}
.Box3D_line_left_hori {height:100%; top:0; left:0;}
.Box3D_line_left_hori>span {top:0; transform:rotateY(90deg)}
.Box3D_line_fore_hori {width:100%; bottom:0; left:0;}
.Box3D_line_fore_hori>span {left:0; transform:rotateX(90deg)}
.Box3D_line_right_hori {height:100%; top:0; right:0;}
.Box3D_line_right_hori>span {top:0; transform:rotateY(90deg)}
.Box3D_line_back_hori {width:100%; top:0; left:0; }
.Box3D_line_back_hori>span {left:0; transform:rotateX(90deg)}

.Box3D_line_left_vert {top:0; left:0; transform-origin:0 0 0; transform:rotateY(-90deg)}
.Box3D_line_left_vert>span {left:0; transform:rotateX(90deg)}
.Box3D_line_fore_vert {bottom:0; left:0; transform-origin:0 0 0; transform:rotateY(-90deg)}
.Box3D_line_fore_vert>span {left:0; transform:rotateX(90deg)}
.Box3D_line_right_vert {bottom:0; right:0; transform-origin:100% 0 0; transform:rotateY(90deg)}
.Box3D_line_right_vert>span {left:0; transform:rotateX(90deg)}
.Box3D_line_back_vert {top:0; right:0; transform-origin:100% 0 0; transform:rotateY(90deg)}
.Box3D_line_back_vert>span {left:0; transform:rotateX(90deg)}

/* 盒子样式 */
.Room3D_box {position:absolute; transform-style: preserve-3d;}
.Room3D_box_side {position: absolute;}
.Room3D_box_side>div {width:100%; height:100%; }
.Room3D_box_side>div>span {display:block; width:100%; height:100%; border-style:solid}
.Room3D_box_bottom {width:100%; height:100%;}
.Room3D_box_bottom>div {background:rgba(0,0,0,.2)}
.Room3D_box_left {top:0; left: 0; height:100%; transform-origin:0 0 0; transform:rotateY(-90deg);}
.Room3D_box_left>div {background:rgba(0,0,0,.3)}
.Room3D_box_right {top:0; right: 0; height:100%; transform-origin:100% 0 0; transform:rotateY(90deg);}
.Room3D_box_right>div {background:rgba(0,0,0,.1)}
.Room3D_box_fore {bottom:0; left: 0; width:100%; transform-origin:0 100% 0; transform:rotateX(-90deg);}
.Room3D_box_fore>div {background:rgba(0,0,0,.0)}
.Room3D_box_back {top:0; left: 0; width:100%; transform-origin:0 0 0; transform:rotateX(90deg);}
.Room3D_box_back>div {background:rgba(0,0,0,.4)}
.Room3D_box_top {top:0; left:0; width:100%; height:100%; transform-origin:0 0 0;}
.Room3D_box_top>div {background:rgba(0,0,0,.2)}